@mixin flex(
  $display: flex,
  $align-items: center,
  $justify-content: space-between
) {
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin is-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
