// Кольори
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-background-color: #ffffff;
$contacts-footer: rgba(255, 255, 255, 0.6);
$developed-by: rgba(255, 255, 255, 0.4);
$possibility-background-color: rgba(47, 48, 58, 0.8);
$portfolio-button: #f5f4fa;
$caption-developer-border-color: rgba(255, 255, 255, 0.1);
$socials-color: #afb1b8;
$button-hover-color: #188ce8;

// CSS-переходи
$timing-animation: cubic-bezier(0.4, 0, 0.2, 1);
$duration-animation: 250ms;

// Ширини екранів
$mobile-screen: 480px;
$tablet-screen: 768px;
$desktop-screen: 1200px;
